<style>
    @media screen and (min-width: 900px) {
        #sidebar:not(.hide) ~ #content {
            padding-left: 280px;
        }
    }

    #sidebar.hide {
        transform: translateX(-280px);
    }

    #sidebar,
    #content {
        transition: 0.5s;
    }
</style>

<script>
    $(() => {
        $('#toggle-btn').click(() => {
            $('#sidebar').toggleClass('hide');
        });

        $('#close-sidebar-btn').click(() => {
            $('#sidebar').addClass('hide');
        });
    });
</script>

<header class="p-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <span
                class="d-flex align-items-center mb-lg-0 link-body-emphasis text-decoration-none me-auto"
                style="cursor: pointer; font-size: 24px"
                id="toggle-btn"
            >
                <i class="fa-solid fa-bars"></i>
            </span>

            <div class="dropdown text-end">
                <a
                    href="#"
                    class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <img
                        src="https://github.com/mdo.png"
                        alt="mdo"
                        width="32"
                        height="32"
                        class="rounded-circle"
                    />
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="/auth/logout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
