<div
    class="flex-column flex-shrink-0 bg-body-tertiary p-3 position-fixed vh-100"
    style="width: 280px; z-index: 1"
    id="sidebar"
>
    <div class="d-flex align-items-center">
        <a
            href="#"
            class="d-flex align-items-center me-auto link-body-emphasis text-decoration-none text-nowrap"
        >
            <span style="font-size: 28px" class="me-2"><i class="fa-solid fa-book"></i></span>
            <span style="font-size: 24px" class="me-auto">Bookstore</span>
        </a>
        <button
            id="close-sidebar-btn"
            type="button"
            class="btn-close d-md-none"
            aria-label="Close"
        ></button>
    </div>
    <hr class="mb-3" style="margin-top: 6px" />
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active text-nowrap" aria-current="page">
                <span class="me-2"><i class="fa-solid fa-house"></i></span>
                Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-body-emphasis text-nowrap">
                <span class="me-2"><i class="fa-solid fa-gauge-high"></i></span>
                Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-body-emphasis text-nowrap">
                <span class="me-2"><i class="fa-solid fa-table"></i></span>
                Orders
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-body-emphasis text-nowrap">
                <span class="me-2"><i class="fa-solid fa-tags"></i></span>
                Products
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-body-emphasis text-nowrap">
                <span class="me-2"><i class="fa-solid fa-user"></i></span>
                Customers
            </a>
        </li>
    </ul>
</div>
