<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/cdn')  %>
<body class="bg-light">
    <div class="container" style="height: 100vh;">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-sm-10 col-lg-6 col-xl-5">
                <div class="rounded-4 bg-white shadow p-5">
                    <h2 class="text-center text-success">Payment Successful</h2>
                    <p class="text-center text-success fs-1">
                        <i class="fa-regular fa-circle-check"></i>
                    </p>
                    <div class="px-3 mt-5">
                        <h4>Payment System</h4>

                        <div class="row justify-content-between">
                            <div class="col-6">From</div>
                            <div class="col-6 text-end fw-semibold">Vương Huỳnh Khải</div>
                        </div>

                        <div class="row justify-content-between">
                            <div class="col-6">To</div>
                            <div class="col-6 text-end fw-semibold">Book Store</div>
                        </div>

                        <div class="row justify-content-between">
                            <div class="col-6">Time</div>
                            <div class="col-6 text-end fw-semibold">12:20:00 24/01/2003</div>
                        </div>

                        <div class="row justify-content-between">
                            <div class="col-6">Transaction id</div>
                            <div class="col-6 text-end fw-semibold">123456789741258</div>
                        </div>
                        
                        <div class="row justify-content-between mt-4">
                            <div class="col-6">Amount</div>
                            <div class="col-6 text-end fs-4 text-danger fw-bold">$15.75</div>
                        </div>
                    </div>

                    <div class="text-end mt-5">
                        <a class="btn btn-outline-primary text-uppercase px-5" href="#">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>