<header class="p-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <a
                href="/"
                class="d-flex align-items-center mb-lg-0 link-body-emphasis text-decoration-none me-2 fs-3"
            >
                <i class="fa-solid fa-book"></i>
            </a>

            <ul class="nav nav-pills col-auto me-auto justify-content-center mb-md-0 fw-bold">
                <li class="nav-item">
                    <a href="/" class="nav-link px-2 link-secondary">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/customer/summary" class="nav-link px-2 link-body-emphasis">Order</a>
                </li>
                <li class="nav-item">
                    <a
                        href="/customer/cart"
                        class="nav-link px-2 link-body-emphasis position-relative"
                    >
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                        >
                            12
                        </span>
                    </a>
                </li>
            </ul>

            <div class="dropdown text-end">
                <a
                    href="#"
                    class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <img
                        src="https://github.com/mdo.png"
                        alt="mdo"
                        width="32"
                        height="32"
                        class="rounded-circle"
                    />
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="/customer/profile">Settings</a></li>
                    <li><a class="dropdown-item" href="/customer/profile">Profile</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
