<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Products</title>

        <%- include('../partials/cdn') %>
        <!--  -->
        <%- include('./partials/datatable-css') %>
    </head>

    <body>
        <main class="d-flex flex-nowrap h-100">
            <%- include('./partials/sidebar') %>

            <div id="content" class="w-100 h-100">
                <%- include('./partials/header') %>

                <div class="bg-body-secondary p-3">
                    <div class="container">
                        <!-- Change the content of page here -->
                        <div class="row g-3">
                            <div class="col-xl-12 col-md-12">
                                <div class="card shadow">
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                                    >
                                        <h4 class="m-0">
                                            <i class="fa-solid fa-users"></i> CUSTOMERS
                                        </h4>
                                    </div>
                                    <div class="card-body px-3 py-2">
                                        <div class="datatable-area scroll-container overflow-auto">
                                            <table id="datatablesSimple">
                                                <thead>
                                                    <tr>
                                                        <th># &nbsp;&nbsp;</th>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                        <th>Adress</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Vương Huỳnh Khải</td>
                                                        <td>vuonghuynhkhai@gmail.com</td>
                                                        <td>0125123477</td>
                                                        <td>Dĩ An, Bình Dương</td>
                                                        <td>
                                                            <div class="text-nowrap">
                                                                <a
                                                                    class="btn btn-success py-1"
                                                                    title="Block"
                                                                    href="#"
                                                                >
                                                                    <i class="fa-solid fa-lock"></i>
                                                                </a>

                                                                <a
                                                                    class="btn btn-primary py-1"
                                                                    title="Detail"
                                                                    href="#"
                                                                >
                                                                    <i class="fa-solid fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>2</td>
                                                        <td>Trần Mỹ Phú Lâm</td>
                                                        <td>tmplam123456@gmail.com</td>
                                                        <td>0919239459</td>
                                                        <td>Đông Hòa, Bình Dương</td>
                                                        <td>
                                                            <div class="text-nowrap">
                                                                <a
                                                                    class="btn btn-success py-1"
                                                                    title="Block"
                                                                    href="#"
                                                                >
                                                                    <i class="fa-solid fa-lock"></i>
                                                                </a>

                                                                <a
                                                                    class="btn btn-primary py-1"
                                                                    title="Detail"
                                                                    href="#"
                                                                >
                                                                    <i class="fa-solid fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>3</td>
                                                        <td>Nguyễn Võ Nhật Huy</td>
                                                        <td>nguyenvonhathuy100@gmail.com</td>
                                                        <td>0921120470</td>
                                                        <td>Link Trung, TP HCM</td>
                                                        <td>
                                                            <div class="text-nowrap">
                                                                <a
                                                                    class="btn btn-success py-1"
                                                                    title="Block"
                                                                    href="#"
                                                                >
                                                                    <i class="fa-solid fa-lock"></i>
                                                                </a>

                                                                <a
                                                                    class="btn btn-primary py-1"
                                                                    title="Detail"
                                                                    href="#"
                                                                >
                                                                    <i class="fa-solid fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>4</td>
                                                        <td>Tạ Ngọc Duy Khiêm</td>
                                                        <td>tnduykhiem480@gmail.com</td>
                                                        <td>0978532141</td>
                                                        <td>Thủ Đức, TP HCM</td>
                                                        <td>
                                                            <div class="text-nowrap">
                                                                <a
                                                                    class="btn btn-danger py-1"
                                                                    title="Unblock"
                                                                    href="#"
                                                                >
                                                                    <i
                                                                        class="fa-solid fa-lock-open"
                                                                    ></i>
                                                                </a>

                                                                <a
                                                                    class="btn btn-primary py-1"
                                                                    title="Detail"
                                                                    href="#"
                                                                >
                                                                    <i class="fa-solid fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script>
            $(() => {
                // data table
                const datatablesSimple = document.getElementById('datatablesSimple');
                if (datatablesSimple) {
                    new simpleDatatables.DataTable(datatablesSimple);
                }
            });
        </script>
    </body>
</html>
