<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Products</title>

        <%- include('../partials/cdn') %>
        <style>
            @media screen and (min-width: 768px) {
                #sidebar:not(.hide) ~ #content {
                    padding-left: 280px;
                }
            }

            #sidebar.hide {
                transform: translateX(-280px);
            }

            #sidebar,
            #content {
                transition: 0.5s;
            }
        </style>

        <% if(hasDataTable) { %>
            <%- include('./partials/datatable-css') %>
        <% } %>
    </head>

    <body>
        <main class="d-flex flex-nowrap h-100">
            <%- include('./partials/sidebar') %>

            <div id="content" class="w-100 h-100">
                <%- include('./partials/header') %>

                <div class="bg-body-secondary p-3">
                    <div class="container">
                        <!-- Change the content of page here -->
                        <h1>Products</h1>
                        <div class="bg-white p-4 rounded-4">
                            <div class="w-100 d-flex justify-content-end">
                                <a href="#" class="btn btn-outline-primary text-uppercase me-2">
                                    <i class="fa-solid fa-plus me-2"></i>
                                    new book
                                </a>
                            </div>
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th> # &nbsp;&nbsp;</th>
                                        <th>ISBN</th>
                                        <th>Book</th>
                                        <th>Author</th>
                                        <th>Category</th>
                                        <th>In stock&nbsp;&nbsp;</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th> # &nbsp;&nbsp;</th>
                                        <th>ISBN</th>
                                        <th>Tên sách</th>
                                        <th>Author</th>
                                        <th>Category</th>
                                        <th>In stock</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>ISBM12385</td>
                                        <td>Đắc nhân tâm</td>
                                        <td>Tác giả 1</td>
                                        <td>Truyện ngắn</td>
                                        <td>61</td>
                                        <td>$320,800</td>
                                        <td>
                                            <a class="btn btn-success bg-gradient py-1 mx-2" href="#">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            
                                            <a class="btn btn-danger bg-gradient py-1 mx-2" href="#">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>2</td>
                                        <td>ISBM35789</td>
                                        <td>Nhà giả kim</td>
                                        <td>Tác giả 2</td>
                                        <td>Truyện ngắn</td>
                                        <td>100</td>
                                        <td>$120,800</td>
                                        <td>
                                            <a class="btn btn-success bg-gradient py-1 mx-2" href="#">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            
                                            <a class="btn btn-danger bg-gradient py-1 mx-2" href="#">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td>ISBM178964</td>
                                        <td>Kỹ thuật lập trình</td>
                                        <td>Trương Toàn Thịnh</td>
                                        <td>Truyện dài</td>
                                        <td>30</td>
                                        <td>$84,500</td>
                                        <td>
                                            <a class="btn btn-success bg-gradient py-1 mx-2" href="#">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            
                                            <a class="btn btn-danger bg-gradient py-1 mx-2" href="#">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>4</td>
                                        <td>ISBN456987</td>
                                        <td>Phương pháp lập trình hướng đối tượng</td>
                                        <td>Hồ Tuấn Thanh</td>
                                        <td>Truyện dài</td>
                                        <td>50</td>
                                        <td>$75,000</td>
                                        <td>
                                            <a class="btn btn-success bg-gradient py-1 mx-2" href="#">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            
                                            <a class="btn btn-danger bg-gradient py-1 mx-2" href="#">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>5</td>
                                        <td>ISBM741236</td>
                                        <td>Mạng máy tính</td>
                                        <td>Lê Hà Minh</td>
                                        <td>Tiểu thuyết</td>
                                        <td>45</td>
                                        <td>$120,000</td>
                                        <td>
                                            <a class="btn btn-success bg-gradient py-1 mx-2" href="#">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            
                                            <a class="btn btn-danger bg-gradient py-1 mx-2" href="#">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>6</td>
                                        <td>ISBM785236</td>
                                        <td>Đắc nhân tâm</td>
                                        <td>Tac gia 1</td>
                                        <td>Truyện ngắn</td>
                                        <td>61</td>
                                        <td>$320,800</td>
                                        <td>
                                            <a class="btn btn-success bg-gradient py-1 mx-2" href="#">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            
                                            <a class="btn btn-danger bg-gradient py-1 mx-2" href="#">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>7</td>
                                        <td>ISBM12385</td>
                                        <td>Đắc nhân tâm</td>
                                        <td>Tac gia 1</td>
                                        <td>Truyện ngắn</td>
                                        <td>61</td>
                                        <td>$320,800</td>
                                        <td>
                                            <a class="btn btn-success bg-gradient py-1 mx-2" href="#">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            
                                            <a class="btn btn-danger bg-gradient py-1 mx-2" href="#">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>8</td>
                                        <td>ISBM12385</td>
                                        <td>Đắc nhân tâm</td>
                                        <td>Tac gia 1</td>
                                        <td>Truyện ngắn</td>
                                        <td>61</td>
                                        <td>$320,800</td>
                                        <td>
                                            <a class="btn btn-success bg-gradient py-1 mx-2" href="#">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            
                                            <a class="btn btn-danger bg-gradient py-1 mx-2" href="#">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script>
            $(() => {
                $('#toggle-btn').click(() => {
                    $('#sidebar').toggleClass('hide');
                });

                $('#close-sidebar-btn').click(() => {
                    $('#sidebar').addClass('hide');
                });

                // data table
                const datatablesSimple = document.getElementById('datatablesSimple');
                if (datatablesSimple) {
                    new simpleDatatables.DataTable(datatablesSimple);
                }
            });
        </script>
    </body>
</html>
