<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../partials/cdn') %>
        <title>Shopping cart</title>
    </head>
    <body>
        <%- include('../partials/header') %>

        <main>
            <div class="py-2 bg-body-secondary">
                <div class="container">
                    <div class="card shadow border-0 my-3">
                        <div class="card-header text-bg-dark py-2">
                            <div class="row px-4 align-items-center">
                                <div class="col-6">
                                    <h5 class="text-white text-uppercase mb-0 py-3">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        <span class="ms-2">Shopping Cart</span>
                                    </h5>
                                </div>
                                <div class="col-6 text-end">
                                    <a class="btn btn-outline-danger" href="/">
                                        Continue shopping
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pb-0">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-10">
                                        <div class="row border-bottom py-3">
                                            <div class="col-3 col-lg-2 ps-0 text-center">
                                                <img
                                                    src="https://i.pinimg.com/236x/c9/cd/c2/c9cdc2a739410d3459962868c03e324d.jpg"
                                                    class="rounded border w-100"
                                                    style="aspect-ratio: 8 / 11; object-fit: cover"
                                                />
                                            </div>
                                            <div class="col-9 col-lg-6 pe-0">
                                                <h5
                                                    class="text-uppercase text-secondary text-truncate fs-5"
                                                    style="font-size: 12px"
                                                >
                                                    5 centimeters per second
                                                </h5>
                                                <p class="text-secondary mb-0">
                                                    <span class="fw-semibold text-success"
                                                        >Author:</span
                                                    >
                                                    Makoto Shinkai
                                                </p>
                                                <p class="text-secondary">
                                                    <span class="fw-semibold text-warning"
                                                        >Category:</span
                                                    >
                                                    Novel
                                                </p>
                                            </div>
                                            <div
                                                class="col-12 pt-3 pt-lg-0 col-lg-4 text-center row g-0 align-items-center"
                                            >
                                                <div class="col-4">
                                                    <h6 class="fw-semibold d-flex mb-0 py-2">
                                                        <span>$30.00</span>
                                                        <span>&nbsp;x&nbsp;</span>
                                                        <span>3</span>
                                                    </h6>
                                                </div>
                                                <div class="col-6 col-lg-6">
                                                    <div class="w-75 btn-group">
                                                        <a
                                                            class="btn btn-outline-success py-2"
                                                            href="#"
                                                        >
                                                            <i class="fas fa-minus"></i>
                                                        </a>
                                                        &nbsp;&nbsp;&nbsp;
                                                        <a
                                                            class="btn btn-outline-success py-2"
                                                            href="#"
                                                        >
                                                            <i class="fas fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-2 text-end">
                                                    <a
                                                        class="btn btn-danger bg-gradient py-2"
                                                        href="#"
                                                    >
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row border-bottom py-3">
                                            <div class="col-3 col-lg-2 ps-0 text-center">
                                                <img
                                                    src="https://i.pinimg.com/236x/c9/cd/c2/c9cdc2a739410d3459962868c03e324d.jpg"
                                                    class="rounded border w-100"
                                                    style="aspect-ratio: 8 / 11; object-fit: cover"
                                                />
                                            </div>
                                            <div class="col-9 col-lg-6 pe-0">
                                                <h5
                                                    class="text-uppercase text-secondary text-truncate fs-5"
                                                >
                                                    5 centimeters per second
                                                </h5>
                                                <p class="text-secondary mb-0">
                                                    <span class="text-success fw-semibold"
                                                        >Author:</span
                                                    >
                                                    Makoto Shinkai
                                                </p>
                                                <p class="text-secondary">
                                                    <span class="text-warning fw-semibold"
                                                        >Category:</span
                                                    >
                                                    Novel
                                                </p>
                                            </div>
                                            <div
                                                class="col-12 pt-3 pt-lg-0 col-lg-4 text-center row g-0 align-items-center"
                                            >
                                                <div class="col-4">
                                                    <h6 class="fw-semibold d-flex mb-0 py-2">
                                                        <span>$30.00</span>
                                                        <span>&nbsp;x&nbsp;</span>
                                                        <span>3</span>
                                                    </h6>
                                                </div>
                                                <div class="col-6 col-lg-6">
                                                    <div class="w-75 btn-group">
                                                        <a
                                                            class="btn btn-outline-success py-2"
                                                            href="#"
                                                        >
                                                            <i class="fas fa-minus"></i>
                                                        </a>
                                                        &nbsp;&nbsp;&nbsp;
                                                        <a
                                                            class="btn btn-outline-success py-2"
                                                            href="#"
                                                        >
                                                            <i class="fas fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-2 text-end">
                                                    <a
                                                        class="btn btn-danger bg-gradient py-2"
                                                        href="#"
                                                    >
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row justify-content-center g-0">
                                <div class="col-10">
                                    <div class="row align-items-center g-0">
                                        <div class="col-12 col-md-8 col-lg-9 pt-2 mb-2">
                                            <div class="d-flex align-items-center">
                                                <h5 class="text-uppercase text-secondary">
                                                    Total:
                                                </h5>
                                                &nbsp;&nbsp;&nbsp;
                                                <h4>$180.00</h4>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 col-lg-3">
                                            <a
                                                class="btn btn-primary form-control"
                                                href="/customer/summary"
                                            >
                                                Summary
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>
