<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../partials/cdn') %>
        <title>Books</title>
        <style>
            .line-clamp {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <%- include('../partials/header') %>

        <main>
            <div class="py-2 bg-body-secondary">
                <div class="container d-flex flex-wrap align-items-center py-3">
                    <form class="col-12 col-sm-auto mb-2 mb-sm-0 me-sm-auto" role="search">
                        <input
                            type="search"
                            class="form-control"
                            placeholder="Search..."
                            aria-label="Search"
                        />
                    </form>

                    <div class="d-flex align-items-center">
                        <select class="form-select" id="category">
                            <option value="all">All</option>
                            <option value="action">Action</option>
                            <option value="romance">Romantic</option>
                            <option value="detective">Detective</option>
                        </select>
                    </div>
                </div>

                <div class="container">
                    <div
                        class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3"
                    >
                        <div class="col">
                            <a
                                href="/customer/detail"
                                class="card border-0 p-2 shadow border-top border-5 border-secondary rounded text-decoration-none"
                                title="Xem chi tiết"
                            >
                                <img
                                    src="https://bulky.azurewebsites.net/images/products/product-1/240def0e-ff8e-4b61-bc03-93ce31069e55.jpg"
                                    class="card-img-top rounded"
                                    style="aspect-ratio: 9 / 10"
                                />

                                <div class="card-body p-1 pb-1">
                                    <div class="">
                                        <p
                                            class="card-title h5 text-body-emphasis opacity-75 text-uppercase text-center text-truncate"
                                        >
                                            vanish in the sunset
                                        </p>
                                        <p
                                            class="card-title text-success text-uppercase text-center"
                                        >
                                            <b>Author:</b> Billy Spark
                                        </p>
                                    </div>
                                    <p class="card-text mb-2 line-clamp">
                                        Some quick example text to build on the card title and make
                                        up the bulk of the card's content.
                                    </p>
                                    <div class="d-flex justify-content-end align-items-center fs-6">
                                        <p class="mb-0">
                                            <b class="text-success">Price:</b> 100.000đ
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a
                                href="/customer/detail"
                                class="card border-0 p-2 shadow border-top border-5 border-secondary rounded text-decoration-none"
                                title="Xem chi tiết"
                            >
                                <img
                                    src="https://bulky.azurewebsites.net/images/products/product-1/240def0e-ff8e-4b61-bc03-93ce31069e55.jpg"
                                    class="card-img-top rounded"
                                    style="aspect-ratio: 9 / 10"
                                />

                                <div class="card-body p-1 pb-1">
                                    <div class="">
                                        <p
                                            class="card-title h5 text-body-emphasis opacity-75 text-uppercase text-center text-truncate"
                                        >
                                            Fortune of Time
                                        </p>
                                        <p
                                            class="card-title text-success text-uppercase text-center"
                                        >
                                            <b>Author:</b> Billy Spark
                                        </p>
                                    </div>
                                    <p class="card-text mb-2 line-clamp">
                                        Some quick example text to build on the card title and make
                                        up the bulk of the card's content.
                                    </p>
                                    <div class="d-flex justify-content-end align-items-center fs-6">
                                        <p class="mb-0">
                                            <b class="text-success">Price:</b> 100.000đ
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a
                                href="/customer/detail"
                                class="card border-0 p-2 shadow border-top border-5 border-secondary rounded text-decoration-none"
                                title="Xem chi tiết"
                            >
                                <img
                                    src="https://bulky.azurewebsites.net/images/products/product-1/240def0e-ff8e-4b61-bc03-93ce31069e55.jpg"
                                    class="card-img-top rounded"
                                    style="aspect-ratio: 9 / 10"
                                />

                                <div class="card-body p-1 pb-1">
                                    <div class="">
                                        <p
                                            class="card-title h5 text-body-emphasis opacity-75 text-uppercase text-center text-truncate"
                                        >
                                            Fortune of Time
                                        </p>
                                        <p
                                            class="card-title text-success text-uppercase text-center"
                                        >
                                            <b>Author:</b> Billy Spark
                                        </p>
                                    </div>
                                    <p class="card-text mb-2 line-clamp">
                                        Some quick example text to build on the card title and make
                                        up the bulk of the card's content.
                                    </p>
                                    <div class="d-flex justify-content-end align-items-center fs-6">
                                        <p class="mb-0">
                                            <b class="text-success">Price:</b> 100.000đ
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a
                                href="/customer/detail"
                                class="card border-0 p-2 shadow border-top border-5 border-secondary rounded text-decoration-none"
                                title="Xem chi tiết"
                            >
                                <img
                                    src="https://bulky.azurewebsites.net/images/products/product-1/240def0e-ff8e-4b61-bc03-93ce31069e55.jpg"
                                    class="card-img-top rounded"
                                    style="aspect-ratio: 9 / 10"
                                />

                                <div class="card-body p-1 pb-1">
                                    <div class="">
                                        <p
                                            class="card-title h5 text-body-emphasis opacity-75 text-uppercase text-center text-truncate"
                                            title="Full title"
                                        >
                                            Fortune of Time
                                        </p>
                                        <p
                                            class="card-title text-success text-uppercase text-center"
                                        >
                                            <b>Author:</b> Billy Spark
                                        </p>
                                    </div>
                                    <p class="card-text mb-2 line-clamp">
                                        Some quick example text to build on the card title and make
                                        up the bulk of the card's content.
                                    </p>
                                    <div class="d-flex justify-content-end align-items-center fs-6">
                                        <p class="mb-0">
                                            <b class="text-success">Price:</b> 100.000đ
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <nav class="mt-4 d-flex justify-content-end">
                        <ul class="pagination">
                            <li class="page-item" style="color: black !important">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>

        <%- include('../partials/footer') %>
    </body>
</html>
