<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../partials/cdn') %>
        <title>Document</title>
    </head>
    <body>
        <%- include('../partials/header') %>

        <main class="bg-body-secondary">
            <div class="container py-2">
                <div class="row justify-content-center align-items-center my-3">
                    <div class="col col-12 col-lg-10">
                        <div class="card row g-0 border rounded overflow-hidden flex-md-row shadow">
                            <div class="col col-12 col-md-5 col-xl-4 d-lg-block">
                                <img
                                    src="https://img.freepik.com/premium-photo/beautiful-anime-girl-waterfall-mobile-wallpaper_973189-16380.jpg"
                                    class="w-100 h-100 shadow"
                                    style="object-fit: cover"
                                    id="img-avatar"
                                    role="button"
                                />
                            </div>
                            <form class="col col-12 col-md-7 col-xl-8 px-4 py-3 d-flex flex-column">
                                <h1 class="d-inline-block mb-2 text-primary-emphasis">Profile</h1>
                                <input
                                    type="file"
                                    accept="image/*"
                                    name="avatar"
                                    id="input-avatar"
                                    class="d-none"
                                />
                                <div class="form-floating mb-2">
                                    <input
                                        class="form-control border-info"
                                        required
                                        name="name"
                                        id="name"
                                        value="Trần Mỹ Phú Lâm"
                                        spellcheck="false"
                                    />
                                    <label for="name">Name</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input
                                        class="form-control border-info"
                                        type="email"
                                        required
                                        name="email"
                                        id="email"
                                        value="example@gmail.com"
                                        spellcheck="false"
                                    />
                                    <label for="email">Email</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input
                                        class="form-control border-info"
                                        name="phone"
                                        id="phone"
                                        required
                                        value="0808888888"
                                        spellcheck="false"
                                    />
                                    <label for="phone">Phone</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input
                                        class="form-control border-info"
                                        name="address"
                                        id="address"
                                        value="Dĩ An, Bình Dương"
                                        spellcheck="false"
                                    />
                                    <label for="address">Address</label>
                                </div>

                                <div class="text-end">
                                    <button class="btn btn-primary">Change password</button>
                                    <button type="submit" class="btn btn-primary">
                                        Save changes
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include('../partials/footer') %>

        <script>
            $(() => {
                $('#img-avatar').on('click', () => {
                    $('#input-avatar').click();
                });

                // $('#input-avatar').change((e) => {
                //     $('#form-update-avatar').submit();
                // });
            });
        </script>
    </body>
</html>
