<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <%- include('../partials/cdn') %>
</head>

<body>
    <div class="vh-100" style="background-color: #eee; font-size: 20px;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-6">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Payment System</p>

                                    <form class="mx-1 mx-md-4" id="loginForm">

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="username">Hello <%= name %>. Please
                                                        type your password to continue:</label>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="password" id="password" name="password"
                                                    class="form-control" required value="" />
                                                <label class="form-label" for="password">Password</label>
                                            </div>
                                        </div>


                                    </form>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button class="btn btn-primary btn-lg"
                                            onclick="submitLoginForm()">Login</button>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" id="error"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        function submitLoginForm() {
            const password = $('#password').val()
            const url = '/auth/login?request=<%= request %>'
            $.ajax({
                url: url,
                method: 'post',
                headers: {
                    'Authorization': `<%= token %>`,
                },
                data: {
                    password: password
                },
                success: function (data) {
                    window.location.href = `/transaction/${data.transaction_id}/payment?authorization_code=${data.authorization_code}`
                },
                error: function (xhr, textStatus, errorThrown) {
                    try {
                        const errorResponse = JSON.parse(xhr.responseText);
                        const errorMessage = errorResponse.message || 'An error occurred';
                        $('#error').text(errorMessage)
                    } catch (parseError) {
                        console.error('Error parsing JSON response:', parseError);
                    }
                }
            });
            return false
        }
    </script>
</body>

</html>